body {
  display: flex;
  background-color: gainsboro; }

.mui-appbar {
  display: flex;
  position: fixed;
  margin: 2%;
  border-radius: 5px;
  width: 96%;
  align-content: center;
  z-index: 2; }

.mui-appbar-div {
  display: inline-flex;
  justify-content: space-between;
  width: 96%; }

.appbarContent {
  display: flex;
  justify-content: space-around;
  margin: auto; }

#headerLinks {
  justify-content: space-between; }

#modalOverlay {
  position: fixed;
  text-align: center;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0.7; }

#signUpModal {
  background-color: grey;
  height: 50%;
  width: 50%;
  margin: 20%;
  position: fixed;
  justify-content: center;
  z-index: 5; }

#loginModal {
  background-color: grey;
  height: 50%;
  width: 50%;
  margin: 20%;
  position: fixed;
  justify-content: center;
  z-index: 5; }

.hidden {
  display: none; }

#headerImg {
  width: 100%; }

#about-dlearn {
  margin-top: 25%; }

.text-box {
  background-color: lightblue;
  opacity: 0.9;
  width: 80%;
  padding: 1%;
  border-radius: 6px;
  margin: 2%;
  margin-left: 5%;
  margin-right: auto; }

.mui-divider {
  margin-left: 5%;
  margin-right: 5%; }

.profile-img-div {
  margin: 2%;
  float: left; }

.profile-img {
  border-radius: 50%;
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: auto;
  float: left; }

.about-me-header {
  margin: 20%;
  margin-top: 0%;
  margin-bottom: 0%; }

.about-me {
  display: flex;
  flex-flow: nowrap;
  padding: 1%; }
