<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DLearn | Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form enctype="application/json" action="/signup" method="POST">
        <p>
            <label for="email">Email:</label><br>
            <input type="email" value="">
        </p>
        <p>
            <label for="username">Username:</label><br>
            <input type="text" value="">
        </p>
        <p>
            <label for="password">Password:</label><br>
            <input type="password" value="">
        </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>