<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DLearn | Splash</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <div id="modalOverlay" class="hidden">
        <div id="signUpModal" class="hidden">
            <form enctype="application/json" action="/signup" method="POST">
                <p>
                    <label for="email">Email:</label><br>
                    <input type="email" value="">
                </p>
                <p>
                    <label for="username">Username:</label><br>
                    <input type="text" value="">
                </p>
                <p>
                    <label for="password">Password:</label><br>
                    <input type="password" value="">
                </p>
                <button id="loginSubmitBtn" type="submit">Submit</button>
            </form>
        </div>
        <div id="loginModal" class="hidden">
                <form enctype="application/json" action="/login" method="POST">
                    <p>
                        <label for="username">Username:</label>
                        <div class="mui-textfield">
                            <input type="text" value="">
                        </div>
                    </p>
                    <p>
                        <label for="password">Password:</label>
                        <input type="password" value="">
                    </p>
                    <button id="loginSubmitBtn" class="mui-btn mui-btn--raised" type="submit">Submit</button>
                </form>
        </div>
    </div>
    <header>
        <div class="mui-appbar">
            <!-- <table id="headerLinks">
                <tr> -->
                    <div class="mui-appbar-div">


                        <span class="mui--appbar-height appbarContent"><a class="mui-btn mui-btn--raised mui-btn--danger" href="/">HOME</a></span>
                        <span class="appbarContent">
                            <h2>DLearn</h2>
                        </span>
                        <span class="mui--appbar-height appbarContent" align="right">
                            <span>
                                <button id="signUpBtn" class="mui-btn mui-btn--raised mui-btn--danger">Sign Up
                                </button>
                                <button id="loginBtn" class="mui-btn mui-btn--raised mui-btn--danger">Login</button></td>
                            </span>
                        </span>
                    </div>
                <!-- </tr>
            </table> -->
        </div>
        <!-- <img id="headerImg" src="https://res.cloudinary.com/hpiynhbhq/image/upload/v1512411426/sovdiegkhqtbayakbtsj.jpg"/> -->
    </header>
    <main>
        <div class="mui-container-fluid">
            <div id="about-dlearn" class="text-box">
                <h2>About <strong>DLearn</strong></h2>
                <p>Quality of education is a major contributing factor in terms of not only an individual's upward mobility, but more importantly, on the equitable advancement of society as a whole. Unfortunately, the quality of the education that children (and adults) receive is often limited by their location and/or their access to resources. Our mission is to improve the quality of education that is free and readily available by building a platform where teachers/content creators are rewarded for producing quality educational content using STEEM's Proof-of-Brain protocol.</p>
            </div>
            <div class="mui-divider"></div>
            <div class="text-box">
                <h2>Our Mission</h2>
                <p><strong>DLearn</strong> aims to change the world through education by creating a platform in which educators are incentivized to teach, at no cost to the student, in order to remove barriers to upward mobility by making quality education accessible to everyone.</p>
            </div>
            <div class="mui-divider"></div>
            <div class="text-box">
                <h2>Our Vision</h2>
                <p>We believe that education is the key to solving many of the worlds problems, specifically the uneven distribution of wealth, which is perpetuated for generations because the quality of the instruction that a student receives is relative to their location and their ability to afford a superior education. We plan to not only have courses hosted online, but to also have physical courses and eventually be able to provide chromebooks/laptops to students who show consistency.</p>
            </div>
            <div class="mui-divider"></div>
            <div class="text-box">
                <h2>Who I Am</h2>
                <h3 class="about-me-header"><strong>DeBray Carpenter</strong> - Founder, Software / Blockchain Engineer</h3>
                <div class="about-me">
                    <img class="profile-img profile-image-div" src="https://steemitimages.com/0x0/https://res.cloudinary.com/hpiynhbhq/image/upload/v1512416983/hxwidf4gzohr0rjzxpjl.png" alt=""/>
                    <p class="about-me-text">Being born and raised in San Francisco's impoverished Bayview/Hunter's Point district helped me to understand the significance of education as well as the fact that schools ARE NOT all created equal. Becoming a Full-Stack Software / Blockchain Engineer specializing in Node.js / JavaScript applications gave me a new way of thinking about and addressing problems. With this new insight, I pondered how my knowledge and skills could be used to solve this disparity in education. DLearn is an attempt to solve that very problem as it exacerbates the uneven distribution of wealth, limiting people/families into their relative social classes. I recently landed a job teaching JavaScript to formerly incarcerated youth from San Francisco at a program where the funds are limited and come solely from the government. My initial aim was to find a community of people (developers, bloggers, educators and students) who would be willing to help to make the program more sustainable. While thinking about how to do so, I decided that it would be better to create a program from scratch with less overhead and to DECENTRALIZE IT!</p></div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <div id="splash"></div>
    <script src="../index.js"></script>
    <script src="//cdn.muicss.com/mui-0.9.30/extra/mui-combined.min.js"></script>    
</body>
</html>